{{template "_header.html"}}
<div id="root">
  <form @submit.prevent="onSubmit">
<div class="field">
  <label class="label">Title</label>
  <p class="control">
    <input class="input" type="text" placeholder="Title" v-model="title">
  </p>
</div>

<div class="field">
  <label class="label">Icon</label>
  <p class="control">
    <input class="input" type="text" placeholder="Icon" v-model="icon">
  </p>
</div>

<div class="field">
  <label class="label">Short Description</label>
  <p class="control">
    <input class="input" type="text" placeholder="Short Description" v-model="flash">
  </p>
</div>

<div class="field">
  <label class="label">Content</label>
  <p class="control">
  <textarea v-model="content" id="content"></textarea>
  </p>
</div>

<div class="field is-grouped">
  <p class="control">
    <button type="submit" class="button is-primary">Submit</button>
  </p>
  <p class="control">
    <a type="button" class="button is-link" href="/kata_kerja">Cancel</a>
  </p>
</div>

</div>
<script src="/js/kata_kerja_form.js"></script>
{{template "_footer.html"}}
