{{template "_header.html"}}
<div id="root">
  <h1 class="title">Partikel</h1>
  <table class="table is-bordered is-striped is-narrow">
    <tr>
      <th>No</th>
      <th>Nama Partikel</th>
      <th>Short Description</th>
      <th>Action</th>
    </tr>

    <tr v-for="(d, index) in data">
      <td>${index+1}</td>
      <td>${d.title}</td>
      <td>${d.flash}</td>
      <td>
        <a class="tag is-primary" :href="'/partikel/' + d.id">Edit</a>
        <a class="tag is-danger" v-on:click="remove(index)">Delete</a>
      </td>
    </tr>
  </table>

  <a class="button is-info" href="/partikel/add">Add</a>
</div>
<script src="js/partikel.js"></script>
{{template "_footer.html"}}
