{{template "_header.html"}}
<div id="root">
  <form @submit.prevent="onSubmit">
<div class="field">
  <label class="label">Pertanyaan</label>
  <p class="control">
    <input class="input" type="text" placeholder="Pertanyaan" v-model="question">
  </p>
</div>

<div class="field">
  <label class="label">Type</label>
  <p class="control">
  <span class="select">
    <select v-model="answer_type">
      <option value="hiragana">Hiragana</option>
      <option value="katakana">Katakana</option>
    </select>
    </span>
  </p>
</div>

<div class="field">
  <label class="label">Karakter</label>
  <p class="control">
    
  <span class="select">
    <select v-model="karakter">
      <option v-for="kar in filterKarakter" :value="kar.romawi" selected="karakter == kar.romawi">${ kar.romawi  }</option>
    </select>
    </span>
  </p>
</div>


<div class="field is-grouped">
  <p class="control">
    <button type="submit" class="button is-primary">Submit</button>
  </p>
  <p class="control">
    <a type="button" class="button is-link" href="/quiz">Cancel</a>
  </p>
</div>

</div>
<script src="/js/quiz_form.js"></script>
{{template "_footer.html"}}
