.container-table {
  overflow-x: scroll;
}

body {
  font-size: 0.8rem;
  margin:50px;
}
.panel-block {
  font-size:0.9rem;
}

.new-connection {
  background: url("/img/vim-go.png");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position:80% 80%;
}

.tabs-header {
  margin-top:40px;
}

.tabs li a.no-padding-tab {
  padding: 0;
}

li .col-tab {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.5em 0 0.5em 0.5em;
}

li #tab-last, li #tab-last:hover {
  background-color: #042560;
  height: 30px;
  border-bottom:none;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

li.is-active .col-tab {
  max-width:inherit;
}

.btn-close-connection {
  margin-right:10px;
}
.multiselect__select {
  height: 28px;
}

.multiselect__tags {
  min-height: 20px;
  padding: 4px 40px 0 8px;
}
.multiselect__input, .multiselect__single {
  line-height: 10px;
  min-height:15px;
  font-size:12px;
}
.multiselect, .multiselect__input, .multiselect__single {
  font-size:12px;
}

.trumbowyg ol, .trumbowyg ul {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    list-style: disc;
}


.trumbowyg dl, .trumbowyg hr, .trumbowyg menu, .trumbowyg ol, .trumbowyg p, .trumbowyg pre, .trumbowyg ul {
    margin: 1em 0;
}
.trumbowyg dd {
    margin: 0 0 0 40px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 145px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    top: 135%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
     content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
